lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
build

www
www-dev/js/optimized.js
www-dev/js/bower_components

platforms/ios/PriceCheckerMobile.xcodeproj/xcuserdata/matt_goldspink.xcuserdatad/xcdebugger