/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 button,
 input,
 select,
 textarea {
   margin: 0;
   font-family: inherit;
   font-size: 100%;
 }

 button,
 input {
   line-height: normal;
 }

 button,
 select {
   text-transform: none;
 }

 button,
 html input[type="button"],
 input[type="reset"],
 input[type="submit"] {
   cursor: pointer;
   -webkit-appearance: button;
 }

 button[disabled],
 html input[disabled] {
   cursor: default;
 }


 .btn {
   display: inline-block;
   padding: 8px 12px;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.428571429;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   cursor: pointer;
   border: 1px solid transparent;
   border-radius: 4px;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
        -o-user-select: none;
           user-select: none;
 }

 .btn:focus {
   outline: thin dotted #333;
   outline: 5px auto -webkit-focus-ring-color;
   outline-offset: -2px;
 }

 .btn:hover,
 .btn:focus {
   color: #ffffff;
   text-decoration: none;
 }

 .btn:active,
 .btn.active {
   outline: 0;
   -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
           box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
 }

 .btn-default {
   color: #ffffff;
   background-color: #0D77CD;
   border-color: #0D77CD;
 }

 .btn-default:hover,
 .btn-default:focus,
 .btn-default:active,
 .btn-default.active {
   background-color: #0D77CD;
   border-color: #0D77CD;
 }

 .btn-success {
   color: #ffffff;
   background-color: #77cc33;
   border-color: #77cc33;
 }

 .btn-success:hover,
 .btn-success:focus,
 .btn-success:active,
 .btn-success.active {
   background-color: #77cc33;
   border-color: #77cc33;
 }

 .btn-success.disabled,
 .btn-success[disabled],
 fieldset[disabled] .btn-success,
 .btn-success.disabled:hover,
 .btn-success[disabled]:hover,
 fieldset[disabled] .btn-success:hover,
 .btn-success.disabled:focus,
 .btn-success[disabled]:focus,
 fieldset[disabled] .btn-success:focus,
 .btn-success.disabled:active,
 .btn-success[disabled]:active,
 fieldset[disabled] .btn-success:active,
 .btn-success.disabled.active,
 .btn-success[disabled].active,
 fieldset[disabled] .btn-success.active {
   background-color: #5cb85c;
   border-color: #5cb85c;
 }


 #launch-scanner {
     padding: 10px 13px 9px;
     width: 48px;
 }
 .centered {
     text-align: center;
 }
 #find-the-best-price {
     width: 90%;
 }

 #results li {
    display: -webkit-flex;
    display: flex;
 }
 #results li h3:nth-child(2) {
    text-align: right;
 }

 #search .comp {
    padding: 13px 15px !important;
 }

 .hasTabBar nav {
    background-color: #393A43;
    border-bottom: none;
    box-shadow: 0 1px 2px #393A43;
 }

 nav > h1 {
    color: #FFF;
}

body {
    background-color: #fff;
}

.list > li::before {
    background: repeat-x bottom left
      url(data:image/gif;base64,R0lGODlhAQACAPABAMjHzP///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAAQACAAACAgwKADs=);
    background-size: 100% 1px;
}

section > h3 {
    text-align: center;
    font: 24px/28px -apple-system-font, HelveticaNeue,Helvetica,Sans-serif;
    background-color: #119EEA;
    color: #FFF;
    margin: 0;
    padding: 30px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#byvendor section > h3 {
    text-align: left;
}

section > h3 > span {
    float: right;
}


#bestprice section > h3 {
    padding: 18px 15px;
}

#bestprice section > h3 >span {
    clear: both;
    display: block;
    font-size: 12px;
    line-height: 17px;
    float: none;
}

article > section {
    padding-top: 0px;
}


#bestprice > section > h3 {
    text-align: center;
    background: #77cc33;
}

a.button.back, a.button.backTo,  {
    color: #FFF;
    margin-top: 9px;
}

section li {
    color: #484A52;
}

.button .icon {
    display:none;
}

.isiOSseven nav {
    padding-top: 15px !important;
    height: 60px;
}

.isiOSseven nav h1, .isiOSseven nav div a {
    top: 15px;
}

.isiOSseven nav>h1+a.button {
    top: 20px;
}
nav > h1 + a.button.icon {
    top: 8px;
    font-size: 140%;
}
.isiOSseven nav>h1+a.button.icon {
    top: 24px;
}

.isiOSseven nav a {
    top: 3px;
}

.isiOSseven article {
    top: 60px;
}

.loading {
    display: none !important;
}

.carousel {
    position: relative;
    width: 100%;
    min-width: 320px; /* 400px * 2 */
    min-height: 120px; /* 100 * 1.2 px */
    top: 95px;
}
.carousel .cell {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 150px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
}

.carousel .cell img {
    width: 100%;
}

.cell:nth-child(1) img {
    width: 200px;
}

.cell:nth-child(2) img {
    width: 60%;
}

.cell:nth-child(3) img {
    width: 80%;
}

.cell:nth-child(4) img {
    width: 45%;
}

@-webkit-keyframes rotateItem1 {
    from {
        -webkit-transform: rotate(-5deg) translateY(100px) rotate(5deg);
    }

    to {
        -webkit-transform: rotate(355deg) translateY(100px) rotate(-355deg);
    }
}

.carousel .cell:nth-child(1) {
    -webkit-animation: rotateItem1 4s linear infinite;
}

@-webkit-keyframes rotateItem2 {
    from {
        -webkit-transform: rotate(90deg) translateY(100px) rotate(-90deg);
    }

    to {
        -webkit-transform: rotate(450deg) translateY(100px) rotate(-450deg);
    }
}

.carousel .cell:nth-child(2) {
    -webkit-animation: rotateItem2 4s linear infinite;
}

@-webkit-keyframes rotateItem3 {
    from {
        -webkit-transform: rotate(180deg) translateY(100px) rotate(-180deg);
    }

    to {
        -webkit-transform: rotate(540deg) translateY(100px) rotate(-540deg);
    }
}
.carousel .cell:nth-child(3) {
    -webkit-animation: rotateItem3 4s linear infinite;
}

@-webkit-keyframes rotateItem4 {
    from {
        -webkit-transform: rotate(270deg) translateY(100px) rotate(-270deg);
    }

    to {
        -webkit-transform: rotate(630deg) translateY(100px) rotate(-630deg);
    }
}
.carousel .cell:nth-child(4) {
    -webkit-animation: rotateItem4 4s linear infinite;
}

.glyphicon-search {
    font-size: 24px;
}

@-webkit-keyframes rotateMagGlass {
    from {
        -webkit-transform: rotate(180deg) translateY(15px) rotate(-180deg);
    }

    to {
        -webkit-transform: rotate(540deg) translateY(15px) rotate(-540deg);
    }
}

.mag-glass {
    height: 40px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    -webkit-animation: rotateMagGlass 1s linear infinite reverse;
    -webkit-transform-origin: -10px 0px;
    position: relative;
    padding: 38px 0;
}

.glyphicon-search {
    text-shadow: 2px 2px 5px #aaa;
}

#search ul li:first-child img {
    width: 200px;
}

#search ul li:nth-child(2) img {
    width: 140px;
}


#search ul li:last-child img {
    width: 124px;
}

#search .p {
    margin-top: 32px;
}

#search .p ul li {
    list-style: none;
    text-align: center;
    padding: 0;
    margin :8px 0 0 ;
}

#search .p ul {
    margin: 18px 18px;
    padding: 0;
}