#barcode {
    margin-right: 8px;
    margin-top: 6px;
    height: 25px;
    padding: 1px 10px;
    border-radius: 10px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
}


.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control {
  display: block;
  -webkit-box-flex: 1;
  flex: 1;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

.input-small {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
#barcode::-webkit-input-placeholder {
    text-align: center;
}

#barcode:focussed::-webkit-input-placeholder {
    text-align: left;
}

nav > h1 {
   font: 17px/21px -apple-system-font, HelveticaNeue,Helvetica,Sans-serif;
   font-weight: bold;
}

#search p, #search .p {
    margin: 16px 16px;
    font: normal 10pt/13pt HelveticaNeue,Helvetica,Sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: justify;
}

.segmented.paging > .button::before {
    background-color: #FFF;
}

.deletable li.comp:last-of-type > aside {
    border: none;
}
.deletable li.comp > aside {
    padding: 0 10px 10px 10px;
    border-bottom: solid 1px #c8c8c8;
}

.deletable li.comp > div {
    margin-left: 15px;
}

a.button, a.button.back::before, a.button.back, a.button.backTo {
    color: #FFF;
    border-color: #FFF;
}

.popup>.panel .button {
    color: #000;
}

a.button.back::before, a.button.backTo::before {
    color: #FFF;
    background-color: #FFF;
}