[[ for (var vendor in data.vendors) {
        if (data.vendors.hasOwnProperty(vendor)) {
        ]]
    <section>
        <h3>[[= vendor]]: <span>£[[= data.vendors[vendor].totalPrice.toFixed(2)]]</span></h3>
        <ul class='list' >
            [[ for (var item in data.results) {
                if (data.results.hasOwnProperty(item) && data.results[item].prices[vendor]) {
                    ]]
            <li class="comp">
                <div>
                    <h3>[[= data.results[item].prices[vendor].title]]</h3>
                </div>
                <aside>
                    <h4>£[[= data.results[item].prices[vendor].price.toFixed(2)]]</h4>
                </aside>
            </li>
            [[
                    }
                } ]]
        </ul>
        <p>These prices may change by the vendors on subsequent scans</p>
    </section>
[[      }
    } ]]